.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}

.month {
  width: 350px;
}

.clickable:hover {
  cursor: pointer;
  color: red;
}

.month-headers {
  font-weight: bold;
}

.month-row {
  display: flex;
}

.month-square {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
}

button {
  height: 30px;
}

.year-row {
  display: flex;
}

.day-headers {
  display: flex;
}

.day-headers div {
  margin-right: 3px;
}

.hour {
  font-weight: bold;
  font-size: 24px;
}

.evening {
  font-size: 14px;
  font-weight: normal;
  margin-left: 2px;
}

.time-label {
  display: flex;
  align-items: center;
}

.current-time {
  font-size: 14px;
}

.hour,
.minutes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
}

.quarter-line {
  width: 200px;
  height: 1px;
  background: black;
}

.week-nav-header {
  display: flex;
}

.week {
  display: flex;
}

.weekday {
  margin-right: 10px;
}

.weekday-header {
  display: flex;
  justify-content: space-between;
}

.current {
  color: blue;
}

.weekday-range {
  margin: 0px 5px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.event {
  cursor: ns-resize;
}

.event-interval {
  background-color: teal;
  height: 45px;
}
